@using BikeRental.App_GlobalResources
@{ long userInSystem = Convert.ToInt64(Session["UserId"]);}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="home">
<div class="navbar navbar-inverse navbar-fixed-top headroom">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="/Views/Home/Index.cshtml"><img src="/assets/images/logo.png" alt="Progressus HTML5 template"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li>
                    @Html.ActionLink(@Resource.Home, "Index", "Home")
                </li>
                <li>
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink(Resource.TakeBike, "TakeBike", "Profile")
                    }
                </li>
                <li>
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink(Resource.MyOrders, "UserOrders", "Profile", new { id = Session["UserId"] }, null)
                    }
                </li>
                <li>
                    @if (!HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink(Resource.LogIn, "LogIn", "Account", null, new { @class = "btn" })
                    }
                    else
                    {
                        @Html.ActionLink(Resource.LogOff, "LogOff", "Account", null, new { @class = "btn" })
                    }
                </li>
                <li>
                    @if (HttpContext.Current.User.Identity.IsAuthenticated && userInSystem == 1)
                    {
                        @Html.ActionLink("Admin", "AdminPage", "Admin")
                    }
                </li>
            </ul>
        </div>
    </div>
</div>
    

    
    
    





@RenderBody()


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
