@using BikeRental.Resources.App_GlobalResources
@model List<BikeRental.ViewModel.BikeViewModel>


@foreach (var bike in Model)
{
    <p>
        <img src="@bike.Photo" alt="" class="img-rounded pull-right" width="300">
    </p>
    
    <h4>@Resource.Type : @bike.Type</h4>
    <h4>@Resource.Sex : @bike.Sex</h4>
    <h4>@Resource.Price : @bike.Price</h4>
    if (bike.Status)
    {
        <h4 style="color: green">@Resource.Status : @Resource.Active</h4>
    }
    else
    {
        <h4 style="color: red">@Resource.Status : @Resource.NotActive</h4>
    }

    @Html.ActionLink(Resource.Delete, "DeleteBike", "Admin", new {id = bike.IdBike}, new {@class = "btn btn-action btn-lg", @role = "button"})
    @Html.ActionLink(Resource.EditStatus, "EditStatus", "Admin", new { id = bike.IdBike }, new { @class = "btn btn-action btn-lg", @role = "button" })
    @Html.ActionLink(Resource.Edit, "EditBike", "Admin", new { id = bike.IdBike }, new { @class = "btn btn-action btn-lg", @role = "button" })
    
    <br/><br /><br /><br /><br /><br />
}