@using BikeRental.App_GlobalResources
@model BikeRental.ViewModel.AddBikeViewModel

@{
        ViewBag.Title = "AddBike";
}

<header id="head" class="secondary"></header>

@using (Html.BeginForm("AddBike", "Admin", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.Types)
    <div class="jumbotron top-space">
        <div class="container">
            <h3 class="text-center thin">Тип Велосипеда</h3>
            <div class="row">
                @foreach (var type in Model.Types)
                {

                    <div class="col-md-3 col-sm-6 highlight">
                        <div class="h-caption">
                            <h4><i class="fa fa-cogs fa-5"></i>@Html.RadioButtonFor(model => model.Bike.IdType, @type.IdType, null) @type.NameType</h4>
                        </div>

                    </div>
                }                
                <p>@Html.ValidationMessageFor(model => model.Bike.IdType, "", new { @class = "text-danger" })</p>
            </div>

            <h3 class="text-center thin">Sex</h3>
            <div class="row">
                <div class="col-md-3 "></div>
                <div class="col-md-3 col-sm-3 highlight">
                    <div class="h-caption">
                        <h4>@Html.RadioButtonFor(model => model.Bike.Sex, "Men", null) Men</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 highlight">
                    <div class="h-caption">
                        <h4>@Html.RadioButtonFor(model => model.Bike.Sex, "Women", null) Women</h4>
                    </div>
                </div>
                <div class="col-md-3 "></div>
                <p>@Html.ValidationMessageFor(model => model.Bike.Sex, "", new { @class = "text-danger" })</p>
            </div>
            
            <div class="row">
                <div class="col-md-3 "></div>
                <div class="col-md-3 col-sm-3 highlight">
                    <div class="h-caption">
                        @Html.EditorFor(model => model.Bike.Price, new { htmlAttributes = new { @autocomplete = "off", @placeholder = Resource.Price, @class = "form-control" } })
                        <p>@Html.ValidationMessageFor(model => model.Bike.Price, "", new { @class = "text-danger" })</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 highlight">
                    <div class="h-caption">
                        <p>@Resource.Photo</p>
                        <input type="file" id="Photo" name="upload" lang="en-US" />
                    </div>
                </div>
                <div class="col-md-3 "></div>
            </div>
            <input type="submit" value="TakeBike" class="btn btn-action btn-lg" style="width: 100%">
        </div>
    </div>
    
}