@using System.Web.Optimization
@using BikeRental.Resources.App_GlobalResources



<!DOCTYPE html>
<html ng-app="BikeRental">
<head>
    <?xml version="1.0" encoding="windows-1251" ?>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="home">

    <div class="navbar navbar-inverse navbar-fixed-top headroom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" ng-href="/#/"><img src="/assets/images/logo.png" alt="Progressus HTML5 template" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    
                    <li>
                        <a ng-href="/#/login">
                            Login
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>


<div class="page {{ pageClass }}" ng-view>
    
</div>





@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")





@Scripts.Render("~/bundles/apps")

</body>
</html>
