@using BikeRental.Resources.App_GlobalResources
@model BikeRental.ViewModel.ViewModel.TakeBikeViewModel
@{ long userInSystem = Convert.ToInt64(Session["UserId"]);}
@{
    ViewBag.Title = "TakeBike";
}

<header id="head" class="secondary"></header>


@using (Html.BeginForm("TakeBike", "Profile", new {userId = userInSystem}, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="jumbotron top-space">
        <div class="container">
            <h4 class="text-center thin">@Html.DisplayTextFor(model => model.Error) </h4>
            @if (Model.AccessTime > DateTime.Now)
            {
                <h4 class="text-center thin"> @Resource.BikeAvailable : @Html.DisplayTextFor(model => model.AccessTime) </h4>
            }           
            <h3 class="text-center thin">Время Аренды</h3>
            <div class="row">
                <div class="col-md-3 "></div>
                <div class="col-md-3 col-sm-3 highlight">
                    <div class="h-caption">                       
                        @Html.TextBoxFor(model => model.TimeStart, new {@id = "datetimepicker1", @type = "text", @value = DateTime.Now})<h4>Время начала</h4>
                    </div>
                </div>                    
                <div class="col-md-3 col-sm-3 highlight">
                    <div class="h-caption">
                        @Html.TextBoxFor(model => model.TimeEnd, new { @id = "datetimepicker2", @type = "text", @value = " " })<h4>Время окончания</h4>
                    </div>
                </div>
                <div class="col-md-3 "></div>
            </div>

            <h3 class="text-center thin">Тип Велосипеда</h3>
            <div class="row">
                @foreach (var type in Model.Types)
                {

                    <div class="col-md-3 col-sm-6 highlight">
                        <div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i>@Html.RadioButtonFor(model => model.SelectType, @type.IdType, null) @type.NameType</h4>
                        </div>
                    </div>
                }
            </div>
            <h3 class="text-center thin">Sex</h3>
            <div class="row">
                <div class="col-md-3 "></div>
                <div class="col-md-3 col-sm-3 highlight">
                    <div class="h-caption">
                        <h4>@Html.RadioButtonFor(model => model.SelectSex, "Men", null) Men</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 highlight">
                    <div class="h-caption">
                        <h4>@Html.RadioButtonFor(model => model.SelectSex, "Women", null) Women</h4>
                    </div>
                </div>
                <div class="col-md-3 "></div>
            </div>
            <input type="submit" value="TakeBike" class="btn btn-action btn-lg" style="width: 100%">
        </div>
    </div>

}