@model BikeRental.ViewModel.TakeBikeViewModel
@{ long userInSystem = Convert.ToInt64(Session["UserId"]);}
@{
    ViewBag.Title = "TakeBike";
}

<h2>TakeBike</h2>


@using (Html.BeginForm("TakeBike", "Profile", new {userId = userInSystem}, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @foreach (var type in Model.Types)
        {
            <h1>@Html.RadioButtonFor(model => model.SelectType, @type.NameType, null) @type.NameType</h1>
        }
    </div>

    <div>
        <h1>@Html.RadioButtonFor(model => model.SelectSex, "M", null) M</h1>
        <h1>@Html.RadioButtonFor(model => model.SelectSex, "W", null) W</h1>
    </div>
    <br /><br /><br /><br />
    <div>
        @Html.TextBoxFor(model => model.TimeStart, new { type = "datetime-local" })
        @Html.TextBoxFor(model => model.TimeEnd, new { type = "datetime-local" })
    </div>
    <input type="submit" value="TakeBike">
}